---
layout: default
title: Hadi Hariri
---
<img src="/images/header1.png" class="welcome">
<div class="posts">
  <h2>Latest Blog Posts</h2>
  <br/>
  {% for post in paginator.posts %}
  <div class="post">
      <a href="{{ post.url }}">
        <p class="title-entry">{{ post.title }} - <span class="post-date">{{ post.date | date_to_long_string }}</span></p>
      </a>
    <hr class="line-style">
  </div>
  {% endfor %}
</div>

<!-- Pagination links -->
<div class="pagination">
  {% if paginator.next_page %}
    <a href="/page{{paginator.next_page}}" class="older">Older</a>
  {% else %}
    <span class="next">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a href="/" class="newer">Newer</a>
    {% else %}
      <a href="/page{{paginator.previous_page}}" class="newer">Newer</a>
    {% endif %}
  {% else %}
    <span class="previous">Newer</span>
  {% endif %}
</div>