table {
    border-collapse: collapse;
}

td {
    border: 1px solid #6d6d6d;
    padding: 3px;
}

table th {
    background-color: #a9a9a9;
    color: #ffffff;
    border: 1px solid #6d6d6d;
    padding: 3px;
}
